<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>find all</title>
</head>
<body>
    <form action="http://127.0.0.1:8081/v1/create" method="POST">
        name:<input type="text" name="name">
        <br>
        <br>
        <br>
        age:<input type="number" name="password">
        <br>
        <br>
        <br>
        sex:<input type="text" name="sex">
        <br>
        <br>
        <br>
        email:<input type="email" name="email">
        <br>
        <br>
        <br>
        instructions:<input type="text" name="instructions">
        <br>
        <br>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
<!-- <script>
    fetch('/find')
  .then(function(response) {
    console.log(response)
    return response.json();
  })
  .then(function(myJson) {
    console.log(myJson);
  });
</script> -->
</html>